.logo {
  &:hover {
    text-decoration: none;
  }
}

.logoText {
  color: light-dark(var(--mantine-color-brandBlue-5), var(--mantine-color-brandYellow-filled));
  font-family: 'Quicksand';
  font-weight: 700;
}
