.tab {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));

  width: 16%;

  &[data-active] {
    z-index: 1;
    border-top-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-filled);
    /* border-top-color: light-dark(
      var(--mantine-color-brandBlue-filled),
      var(--mantine-color-brandYellow-filled)
    ); */
    /* color: light-dark(
      var(--mantine-color-brandBlue-filled),
      var(--mantine-color-brandYellow-filled)
    ); */
  }
}

.list {
  &::before {
    border-width: 0;
  }
}
