.inner {
  position: relative;
  padding-top: rem(40);
  padding-bottom: rem(30);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: rem(30);
    padding-top: rem(30);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-size: rem(62);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: var(--mantine-color-text);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(42);
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: rem(24);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(54);
  padding-left: rem(38);
  padding-right: rem(38);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(54);
    padding-left: rem(18);
    padding-right: rem(18);
    flex: 1;
  }
}

.card {
  border: 1px solid var(--mantine-color-card-border); /* Assuming you have CSS variables for rem(1) and the border color */
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-yellow-8);
    width: rem(45);
    height: rem(2);
    margin-top: var(--mantine-spacing-sm);
  }
}
